{% extends 'Front/Common/base.html.twig' %}
    {% block body %}
        <section class="my-5">
            <div class="container">
                <h1>{{ liesle.title }}</h1>
                <p>{{ liesle.texte }}</p>
            </div>
        </section>
    {% endblock %}