{% extends 'Front/Common/base.html.twig' %}
    {% block body %}
        <div class="container">

            <!-- Jumbotron Header -->
            <header class="jumbotron my-4">
                <h1 class="display-3">A Warm Welcome!</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            </header>

            <div class="container">
                <h1>UN GROS TITRE</h1>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="http://placehold.it/700x400" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="http://placehold.it/700x400" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="http://placehold.it/x400" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis molestie
                    consectetur facilisis. Proin pharetra mollis eros quis pellentesque.
                    Vivamus tincidunt viverra est, eget ultrices purus imperdiet at. Sed
                    dignissim ipsum ut tempus congue. Proin congue leo nec magna lobortis,
                    eget varius nisi efficitur. Aliquam et purus mauris. Maecenas laoreet dapibus ultricies.

                    Suspendisse placerat lorem id tincidunt condimentum. Aenean euismod erat in gravida
                    tempor. In commodo velit a suscipit faucibus. Aenean sed sapien at ipsum congue cursus.
                    Maecenas rhoncus volutpat turpis ac sagittis. Maecenas risus sem, tincidunt
                    sit amet commodo eu, pharetra non odio. In venenatis sagittis diam in auctor.
                    Phasellus non consequat libero. Sed condimentum felis eget est imperdiet cursus. Fusce ac ultrices dui.
                    Sed id commodo est. Vestibulum quis faucibus turpis, sed dictum ante. Mauris nibh nulla,
                    mollis a vehicula at, euismod a purus. Proin in auctor nisi. In at eros hendrerit, congue
                    turpis eget, dignissim sem. Morbi mollis, leo non rhoncus lobortis, purus leo rhoncus libero, sit amet euismod libero lectus at massa. Aenean at sem non ante egestas tristique. Praesent pellentesque elementum diam at efficitur. Vestibulum in eleifend neque, nec dictum magna. Quisque porta, arcu eu dignissim molestie, lectus arcu cursus ante, finibus tincidunt est lectus nec turpis. Donec auctor ac enim ut ornare. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                    per inceptos himenaeos. Aenean lacinia velit urna.
                    Nullam blandit pulvinar lacus, ac commodo ligula efficitur sit amet. Duis lobortis mi sed
                    diam lacinia iaculis. Etiam consequat viverra nibh, quis tincidunt augue pulvinar nec. Etiam
                    non ex nulla. Mauris urna erat, lobortis vel tempor nec, semper ac dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras sit amet nunc at nulla dignissim semper at ut sem.
                    Nam porta in urna ac malesuada. Pellentesque luctus congue iaculis. In euismod justo in fringilla
                    sagittis. Cras pulvinar nulla ut mi varius, quis accumsan enim tincidunt. Donec eget neque et erat
                    auctor vestibulum. Etiam vel massa a dolor porttitor luctus vel vel risus. Mauris et dolor sit amet
                    velit vehicula fermentum a sit amet turpis. Aenean tempor tortor at molestie consectetur. Curabitur pretium sollicitudin varius. Pellentesque sed egestas magna, ut scelerisque ex. Phasellus placerat ut massa sed pharetra. Duis tempor finibus euismod. Nullam orci ligula, pretium luctus tempus vitae, aliquet in augue.</p>
            </div>
            </section>

            <hr>
        </div>
        <!-- /.container -->
    {% endblock %}