{% block footer %}
<footer class="py-5">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; L'aumonerie site web 2018 réaliser par Tristan Cuenot</p>
    </div>
</footer>
{% endblock %}